*.pyc
*.sublime*
*.djcache
*.egg-info
*.log
.DS_Store
.vscode/
.tsconfig-paths.json
.frontend-configuration-settings.json
node_modules
keep_errors.log
coverage/
build/lib
dist
coverage/
CACHE
frontend_configuration/
arches_keep_app/logs
arches_keep_app/cantaloupe/*
arches_keep_app/staticfiles
arches_keep_app/media/packages
arches_keep_app/media/build/
arches_keep_app/uploadedfiles/*
arches_keep_app/settings_local.py
webpack-stats.json