*.sublime*
.DS_Store
*.djcache
Procfile
.atom-build.yml
celerybeat-schedule

*.pyc
*.log
build
arches_keep_app.egg-info
arches_keep_app/logs
arches_keep_app/arches.log
arches_keep_app/export_deliverables/*
arches_keep_app/cantaloupe/*
arches_keep_app/staticfiles
arches_keep_app/media/packages
node_modules
arches_keep_app/media/build/*
arches_keep_app/uploadedfiles/*
arches_keep_app/settings_local.py
webpack/webpack-stats.json
.vscode/
CACHE


*.egg-info
.DS_STORE
.tsconfig-paths.json
.frontend-configuration-settings.json
coverage/